---
title: Index_Page
bodyClass: Index_Page
outClass: Index_Page
---
extends layouts/_layout

block header
	include ./partials/header/_page-header
	
block content
	include ./partials/_history
	include ./partials/_mission
	include ./partials/_projects
	include ./partials/_features
	include ./partials/_about
	include ./partials/_team
	include ./partials/_jobs-tile
	include ./partials/_partnership
