// Colors
$light-grey: #BFBFBF;
$ultra-light-grey: #CCCCCC;
$grey: #E7E9F5;
$dark-grey: #B1B4C8;
$navy-blue: #273EC1;
$blue: #78CBF9;
$black: #000000;
$white: #ffffff;
$orange: #FCBB76;
$yellow: #FFE176;
$blue: #78CBF9;
$google-blue: #4385F5;
$google-red: #F03F37;
$google-yellow: #FFBC00;
$google-green: #36A853;

// Media
$mobile: 500;
$mobile-rotated-w: 850;
$tablet: 900;
$m-desktop: 1440;
$s-desktop: 1200;
