section.about#about
	.container
		h2.page-content__title.about__title(data-scrambler) Press
	div.swiper-container.js-about-slider
		ul.about__list.swiper-wrapper(data-scrambler)
			li.about__item.swiper-slide
				a.crsor-trgr.mouse(href="https://dev.by/news/bulba-ventures-and-haxus-partner-with-aws-activate" target="_blank" data-cursor-type="plus")
					div.about__image
						+picture('img/about/about3', true)
					p.about__description.js-data-scrambler-item
						| Bulba Ventures becomes partner of AWS Activate
					p.about__date.js-data-scrambler-item
						| august 24, 2018
			li.about__item.swiper-slide
				a.crsor-trgr.mouse(href="https://venturebeat.com/2018/06/09/belarus-bulba-ventures-is-betting-on-the-next-big-machine-learning-startups/" target="_blank" data-cursor-type="plus" draggable="true")
					div.about__image
						+picture('img/about/about1', true)
					p.about__description.js-data-scrambler-item
						| Belarus’ Bulba Ventures is betting on the next big machine learning startups
					p.about__date.js-data-scrambler-item
						| june 9, 2018
			li.about__item.swiper-slide
				a.crsor-trgr(href="https://vc.ru/37219-my-staraemsya-izbegat-otrasley-gde-konkurenciya-vedetsya-s-pomoshchyu-byudzhetov-na-marketing?ea=1f0085c2184cbf9086423512ca39358af948d04187016fc0a643d4f2d65a67b3" target="_blank" data-cursor-type="plus")
					div.about__image
						+picture('img/about/about2', true)
					p.about__description.js-data-scrambler-item
						| &laquo;We try to avoid industries where companies compete on marketing budgets&raquo;
					p.about__date.js-data-scrambler-item
						| may 7, 2018
			li.about__item.swiper-slide
				a.crsor-trgr(href="https://dev.by/lenta/main/bulba-ventures" target="_blank" data-cursor-type="plus")
					div.about__image
						+picture('img/about/about3', true)
					p.about__description.js-data-scrambler-item
						| For Belarusians and those who are ready to relocate. Yury Melnichek starts Bulba Ventures
					p.about__date.js-data-scrambler-item
						| march 21, 2018
			li.about__item.swiper-slide
				a.crsor-trgr(href="https://tech.onliner.by/2018/05/10/bulba-4" target="_blank" data-cursor-type="plus")
					div.about__image
						+picture('img/about/about4', true)
					p.about__description.js-data-scrambler-item
						| &laquo;People mean more than money&raquo;
					p.about__date.js-data-scrambler-item
						| may 10, 2018
