section.features#features
	.container
		div.features__inner
			div.features__content
				h2.page-content__title.features__title(data-scrambler) Why
				p(data-scrambler)
					span.js-data-scrambler-item startups
					i.js-data-scrambler-item need
					span.js-data-scrambler-item bulba ventures
			ul.features__list
				li.features__item
					div.features__image.features__image--icon-1.js-feature-image
						svg(width='78', height='79', viewbox='0 0 78 79', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M25.0008 0L0 25.0008', transform='translate(51 2)', stroke='#FFE176', stroke-width='4', stroke-miterlimit='10', class='path-1')
							path(d='M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 2.62538e-06 11 2.62538e-06C4.92487 2.62538e-06 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z', transform='translate(2 54.0059)', stroke='#000000', stroke-width='4', stroke-miterlimit='10', stroke-linecap='square', class='path-2')
							path(d='M0 0V49', transform='translate(13 5)', stroke='#000000', stroke-width='4', stroke-miterlimit='10', class='path-3')
							path(d='M0 0V49', transform='translate(73 65) rotate(90)', stroke='#000000', stroke-width='4', stroke-miterlimit='10', class='path-4')
							path(d='M0 0H16.6672V16.6672', transform='translate(59.3335 2)', stroke='#FFE176', stroke-width='4', stroke-miterlimit='10', class='path-5')
					p.features__description(data-scrambler)
						| Startups become members of Belarus Hi-Tech Park and receive all benefits of Decree &laquo;On digital economy development&raquo;: a comfortable working and legal environment

				li.features__item
					div.features__image.features__image--icon-2.js-feature-image
						svg(width='75', height='94', viewbox='0 0 74.5 92.9')
							path.path-1(d='M36.3,47.1H0', fill='none', stroke='#000000', stroke-width='4', stroke-miterlimit='10')
							path.path-2(d='M25.1,35.9l11.2,11.2L25.1,58.3', fill='none', stroke='#000000', stroke-width='4', stroke-miterlimit='10')
							polygon.path-3(points='50,46.5 50,90.5 72.5,86.5 72.5,7 50,2.4', fill='none', stroke='#FFE176', stroke-width='4')
							polyline.path-4(points='48,7.5 15,7.5 15,37.5', fill='none', stroke='#000000', stroke-width='4')
							polyline.path-5(points='15,57.5 15,85.5 48,85.5', fill='none', stroke='#000000', stroke-width='4')
					p.features__description(data-scrambler)
						| Direct access to technical and business expertise to drive projects further

				li.features__item
					div.features__image.features__image--icon-3.js-feature-image
						svg(width='90', height='87', viewbox='0 0 90 87', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M0 0V10', transform='translate(48 75)', stroke='#000000', stroke-width='4', stroke-miterlimit='10', class='path-1')
							path(d='M0 0H90', transform='translate(0 85)', stroke='#000000', stroke-width='4', stroke-miterlimit='10', class='path-2')
							path(d='M6.03412 15.5628L2.76689 2.75515L15.9439 6.057C33.0502 10.3434 46.4284 23.6648 50.7875 40.7527L54.0547 53.5603L40.8777 50.2585C23.7714 45.9721 10.3932 32.6506 6.03412 15.5628Z', transform='translate(47.6421) rotate(45)', stroke='#000000', stroke-width='4', class='path-3')
							path(d='M12 36C18.6274 36 24 30.6056 24 23.9512C24 22.3091 23.6728 20.7436 23.0803 19.3171C22.4878 17.8905 12 0 12 0C12 0 1.51218 17.8905 0.919685 19.3171C0.32719 20.7436 0 22.3091 0 23.9512C0 30.6056 5.37258 36 12 36Z', transform='translate(18 14)', fill='white', stroke='#FFE176', stroke-width='4', stroke-miterlimit='10', stroke-linecap='square', class='path-4')
					p.features__description(data-scrambler)
						| Early-stage investments

				li.features__item
					div.features__image.features__image--icon-4.js-feature-image
						svg(width='99', height='58', viewbox='0 0 99 58', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 2.0147e-06 38.8071 2.0147e-06 25C2.0147e-06 11.1929 11.1929 2.0147e-06 25 2.0147e-06C38.8071 2.0147e-06 50 11.1929 50 25Z', transform='translate(24 6)', stroke='#000000', stroke-width='4', stroke-linecap='round', stroke-linejoin='round', class='path-1')
							path(d='M22 11C22 17.0751 17.0751 22 11 22C4.92487 22 -1.72817e-07 17.0751 -1.72817e-07 11C-1.72817e-07 4.92487 4.92487 2.62538e-06 11 2.62538e-06C17.0751 2.62538e-06 22 4.92487 22 11Z', transform='translate(38 20)', stroke='#FFE176', stroke-width='4', stroke-miterlimit='10', stroke-linecap='square', class='path-2')
							path(d='M0 29.2132C5.03788 20.9548 21.447 0 46.7803 0C72.1136 0 89.4823 20.9548 95 29.2132', transform='translate(2 2)', stroke='#000000', stroke-width='4', class='path-3')
					p.features__description(data-scrambler)
						| Support from key partners and strongest mentors
