section.history.container#history
	h2.page-content__title History
	p(data-scrambler)
		span.js-data-scrambler-item
			| Bulba Ventures was founded in march 2018 by
		span.is-underlined.is-underlined--large.tooltip-wrapper.js-tooltip-wrapper.js-data-scrambler-item(data-tooltip="founder-1") Yury Melnichek
			span.tooltip.js-tooltip
		span.js-data-scrambler-item (founder of
		i.js-data-scrambler-item MAPS.ME
		span.js-data-scrambler-item &
		i.js-data-scrambler-item AIMATTER)
		span.js-data-scrambler-item and
		span.is-underlined.is-underlined--large.tooltip-wrapper.js-tooltip-wrapper.js-data-scrambler-item(data-tooltip="founder-2") Andrei Avsievich
			span.tooltip.js-tooltip
		span.js-data-scrambler-item (ex top-manager of
		i.js-data-scrambler-item &laquo;Atlant-M&raquo;
		span.js-data-scrambler-item &
		i.js-data-scrambler-item &laquo;Triple&raquo;)
