.info.js-info-dialog
	button.info__close.js-close(type="button")
	a.info__link.crsor-trgr(href="https://bulbacon.com/eng", data-cursor-type="plus", target="_blank")
		.info__img
			img(src="/img/info/bulbacon.jpg", srcset="/img/info/bulbacon@2.jpg 2x", alt="bulbacon.com")
		.info__content
			h5.info__title Register #[br] for bulbacon
			.info__date March 2
