nav.main-nav#main-nav
	div.main-nav__close#main-nav_close
	ul.main-nav__list
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#history" data-cursor-type="plus") History
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#projects" data-cursor-type="plus") Startups
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#features" data-cursor-type="plus") Why Bulba
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#about" data-cursor-type="plus") Press
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#team" data-cursor-type="plus") Team
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#jobs" data-cursor-type="plus") Jobs
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#partnership" data-cursor-type="plus") Partnerships
		li.main-nav__item
			a.js-scroll-to.crsor-trgr(href="#contacts" data-cursor-type="plus") Contacts
