section.container.mission#mission
	div.mission__inner
		h2.page-content__title.mission__title(data-scrambler) Our mission
		p.mission__content(data-scrambler)
			span.js-data-scrambler-item We aspire
			i.js-data-scrambler-item to improve the quality of human lives
			span.js-data-scrambler-item by funding machine learning startups.
	.canvas-wrap
		canvas#canvas.canvas
