section.partnership#partnership
	.container
		h2.page-content__title.partnership__title(data-scrambler) Partnerships
	div.swiper-container.js-partnership-slider
		ul.partnership__list.swiper-wrapper
			li.partnership__item.swiper-slide
				a.crsor-trgr(href="https://www.emergeconf.io/" target="_blank" data-cursor-type="plus")
					+picture('img/partnership/partner1', true)
			li.partnership__item.swiper-slide
				a.crsor-trgr(href="http://www.socialweekend.by/" target="_blank" data-cursor-type="plus")
					+picture('img/partnership/partner2', true)
			li.partnership__item.swiper-slide
				a.crsor-trgr(href="https://events.dev.by/tech-for-life-hackathon" target="_blank" data-cursor-type="plus")
					+picture('img/partnership/partner3', true)
			li.partnership__item.swiper-slide
				a.crsor-trgr(href="https://probusiness.io/event/4116-hi-tech-nation-nuriel-rubini-rey-kurcveyl-sol-singer-i-drugie-zvezdy-v-minske.html" target="_blank" data-cursor-type="plus")
					+picture('img/partnership/partner4', true)
