section.projects#projects
	div.container
		h2.page-content__title.projects__main-title(data-scrambler) Startups

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item AIMATTER]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item An AI startup known for fabby &mdash; a mobile application allowing you to change the background on photos and videos. aimatter was the first in building a technology which allows the
					a.crsor-trgr(href="https://techcrunch.com/2017/08/16/google-acquires-aimatter-maker-of-the-fabby-computer-vision-app/" target="_blank" data-cursor-type="plus")
						span.is-underlined.js-data-scrambler-item changing of the
						span.is-underlined.js-data-scrambler-item background on a
						span.is-underlined.is-underlined--right-short.js-data-scrambler-item  streaming video.
				p.is-highlighted
					span(data-scrambler) Acquired by
					span.word.js-data-scrambler-item(data-scrambler)
						i.word__letter.word__letter--blue.js-data-scrambler-item G
						i.word__letter.word__letter--red.js-data-scrambler-item o
						i.word__letter.word__letter--yellow.js-data-scrambler-item o
						i.word__letter.word__letter--blue.js-data-scrambler-item g
						i.word__letter.word__letter--green.js-data-scrambler-item l
						i.word__letter.word__letter--red.js-data-scrambler-item e

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item MAPS.ME]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item A
					a.is-underlined.js-data-scrambler-item.crsor-trgr(href="https://ru.maps.me/" target="_blank" data-cursor-type="plus") free navigation app
					span.js-data-scrambler-item first launched in 2011. MAPS.ME helps users to not only get information about their current location but also allows offline search, building itineraries, putting marks on a map, importing and exporting marks and itineraries.
				p.is-highlighted(data-scrambler)
					span.js-data-scrambler-item Acquired by
					span.is-white.js-data-scrambler-item Mail.Ru

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item Friendly]#[span.js-data-scrambler-item Data]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item An Enterprise data company that is working to fundamentally change the way
					a.is-underlined.crsor-trgr.js-data-scrambler-item(href="https://friendlydata.io/" target="_blank" data-cursor-type="plus") people interact with data.
					span.js-data-scrambler-item We provide a Natural Language Search Interface for Enterprise data, which enables non-technical team members to access data quickly and easily, using their own language, without the need for expensive developers or database professionals.
					p.is-highlighted(data-scrambler)
						span.js-data-scrambler-item Acquired by
						span.is-white.js-data-scrambler-item ServiceNow

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item OneSoil]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item A
					a.crsor-trgr(href="https://onesoil.ai/" target="_blank" data-cursor-type="plus")
						span.is-underlined.js-data-scrambler-item free-for-all
						span.is-underlined.js-data-scrambler-item precision farming
						span.is-underlined.js-data-scrambler-item platform
					span.js-data-scrambler-item that allows farmers to monitor field conditions online. All products within OneSoil platform use high precision data from satellite images. Platform users can calculate the right amount of fertilizers, monitor climate change and make field notes.

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item WANNABY]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item An
					a.is-underlined.js-data-scrambler-item.crsor-trgr(href="http://wanna.by/" target="_blank" data-cursor-type="plus") AR-commerce startup
					span.js-data-scrambler-item which builds applications that allow users to try-on consumer goods in augmented reality. Wanna Nails, their first product released, allows users to experiment with nail color depending on different factors (skin tone, lighting and style), try-on nail-polish and buy it directly from the app.

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item Voir]
			dd.projects__description
				p(data-scrambler)
					span.js-data-scrambler-item A mobile application which helps users to
					a.crsor-trgr(href="https://www.voir.me/" target="_blank" data-cursor-type="plus")
						span.is-underlined.js-data-scrambler-item experiment with their
						span.is-underlined.js-data-scrambler-item appearance
						span.is-underlined.is-underlined--right-short.js-data-scrambler-item and style.
					span.js-data-scrambler-item It processes photos and videos with the help of AI to create a face model which is used to build a beauty-image.

		dl.projects__item
			dt.projects__title(data-scrambler) #[span.js-data-scrambler-item Rocket]#[span.js-data-scrambler-item Body]
			dd.projects__description
				p(data-scrambler)
					a.is-underlined.js-data-scrambler-item.crsor-trgr(href="https://gorocketbody.com/" target="_blank" data-cursor-type="plus") Personal trainer
					span.js-data-scrambler-item for professional athletes and healthy lifestyle amateurs that includes fitness-tracker, mobile app and web-platform for coaches. RocketBody uses EKG/ECG readings to identify peak training periods and helps users get a clear understanding of their shape. It also provides more accurate nutrition and workout plans through the app, as well as full analytic access for teams training process.
