section.team#team
	.container
		h2.page-content__title.team__title(data-scrambler) Team
		ul.team__list
			// при длинных фамилиях перенос расставляет контентщик через &shy;
			li.team__item.member(data-scrambler)
				div.member__image
					img(src="img/team/member_1.png" alt="Yury Melnichek")
				div.member__info
					h3.member__name.js-data-scrambler-item Yury Melnichek
					span.member__position.js-data-scrambler-item partner
					a.crsor-trgr.member__social(href="https://www.linkedin.com/in/melnichek/" target="_blank" data-cursor-type="plus") linkedin Yury Melnichek
						+icon('linkedin')

			li.team__item.member(data-scrambler)
				div.member__image
					img(src="img/team/member_2.png" alt="Andrei Avsievich")
				div.member__info
					h3.member__name.js-data-scrambler-item Andrei Avsievich
					span.member__position.js-data-scrambler-item partner
					a.crsor-trgr.member__social(href="https://www.linkedin.com/in/avsievich/" target="_blank" data-cursor-type="plus") linkedin Andrei Avsievich
						+icon('linkedin')

			li.team__item.member(data-scrambler)
				div.member__image
					img(src="img/team/member_3.png" alt="Anna Melnichek")
				div.member__info
					h3.member__name.js-data-scrambler-item Anna Melnichek
					span.member__position.js-data-scrambler-item legal counsel
					a.crsor-trgr.member__social(href="https://www.linkedin.com/in/anna-melnichak-3bb143164/" target="_blank" data-cursor-type="plus") linkedin Anna Melnichek
						+icon('linkedin')

			li.team__item.member(data-scrambler)
				div.member__image
					img(src="img/team/member_4.png" alt="Anna Pozniak")
				div.member__info
					h3.member__name.js-data-scrambler-item Anna Pozniak
					span.member__position.js-data-scrambler-item communications
					a.crsor-trgr.member__social(href="https://www.linkedin.com/in/anna-pozniak-37a66877/" target="_blank" data-cursor-type="plus") linkedin Anna Pozniak
						+icon('linkedin')

			li.team__item.member(data-scrambler)
				div.member__image
					img(src="img/team/member_5.png" alt="Iryna Bashan")
				div.member__info
					h3.member__name.js-data-scrambler-item Iryna Bashan
					span.member__position.js-data-scrambler-item talent acquisition
					a.crsor-trgr.member__social(href="https://www.linkedin.com/in/iryna-bashan/" target="_blank" data-cursor-type="plus") linkedin Iryna Bashan
						+icon('linkedin')
