section.vacancy
	div.container
		dl.vacancy-item
			dt.vacancy-item__title(data-scrambler) #[span.js-data-scrambler-item What We Do]
			dd.vacancy-item__description.vacancy-item__description--accent
				p(data-scrambler)
					span.js-data-scrambler-item The Mobile Telemetry SDK team builds the open source library that powers the collection of anonymous data about the map and device location to continuously update and improve your map experience. Customers of our SDK include apps on Android, iOS, React Native, and Unity. We work with devices of all shapes and forms, from the latest flagship phone to tablets, laptops, smartwatches, HMD, and embedded boards.
		dl.vacancy-item
			dt.vacancy-item__title(data-scrambler) #[span.js-data-scrambler-item What You'll Do]
			dd.vacancy-item__description
				ul.disc(data-scrambler)
					li.js-data-scrambler-item Design and implement mobile telemetry components and systems
					li.js-data-scrambler-item Craft expressive and easy to use APIs for developers using Mobile Telemetry SDK
					li.js-data-scrambler-item Collaborate closely with other teams across Mapbox to understand and build what is needed to enable delightful mobile developer experiences
					li.js-data-scrambler-item Build on-device performance measurement tools for continuous optimization of our data collection mechanism
					li.js-data-scrambler-item Own release and QA cycles of your code
		dl.vacancy-item
			dt.vacancy-item__title(data-scrambler) #[span.js-data-scrambler-item What We Believe are Important Traits for This Role]
			dd.vacancy-item__description
				ul.disc(data-scrambler)
					li.js-data-scrambler-item Software engineering skills and software fundamentals
					li.js-data-scrambler-item Knowledge of software design, systems and architecture
					li.js-data-scrambler-item Enthusiasm for building components and systems with reliability and long term support in mind
					li.js-data-scrambler-item Knowledge of core Java/Kotlin 
					li.js-data-scrambler-item Experience building SDKs in any language is a plus
					li.js-data-scrambler-item Experience working with Location APIs (Android framework or Google Play Services) is a plus
					li.js-data-scrambler-item Experience with performance measurement tools specific to Android is a plus
					li.js-data-scrambler-item Open-minded to explore new languages, skills, techniques, and platforms
					li.js-data-scrambler-item Desire to learn and to teach
		dl.vacancy-item
			dt.vacancy-item__title(data-scrambler) #[span.js-data-scrambler-item What We Value]
			dd.vacancy-item__description
				p(data-scrambler)
					span.js-data-scrambler-item In addition to our core values, which are not unique to this position and are necessary for Mapbox leaders:
				ul.disc(data-scrambler)
					li.js-data-scrambler-item Software engineering skills and software fundamentals
					li.js-data-scrambler-item Knowledge of software design, systems and architecture
					li.js-data-scrambler-item Enthusiasm for building components and systems with reliability and long term support in mind
					li.js-data-scrambler-item Knowledge of core Java/Kotlin 
					li.js-data-scrambler-item Experience building SDKs in any language is a plus
					li.js-data-scrambler-item Experience working with Location APIs (Android framework or Google Play Services) is a plus
					li.js-data-scrambler-item Experience with performance measurement tools specific to Android is a plus
					li.js-data-scrambler-item Open-minded to explore new languages, skills, techniques, and platforms
					li.js-data-scrambler-item Desire to learn and to teach