meta(charset="utf-8")
title= "Bulba Ventures"
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Empowering machine learning startups. Funding positive transformation.")
link(rel="stylesheet" media="all" href="css/app.css")
link(rel="stylesheet" media="all" href="css/font.css")

//- opengraph
meta(property="og:title", content="Bulba Ventures")
meta(property="og:description", content="Empowering machine learning startups. Funding positive transformation.")
meta(property="og:url", content="http://bulba.com")
meta(property="og:type" content="website")
meta(property="og:site_name" content="bulba")
meta(property="og:image", content="http://bulba.com/img/favicon/og-image-1.png")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="630")

link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
link(rel='manifest', href='img/favicon/site.webmanifest')
link(rel='mask-icon', href='img/favicon/safari-pinned-tab.svg', color='#ffffff')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='theme-color', content='#273ec1')

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="http://bulba.com")
meta(name="twitter:title" content="Bulba Ventures")
meta(name="twitter:description" content="Empowering machine learning startups. Funding positive transformation.")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="http://bulba.com/img/favicon/og-image-1.png")
